.bg{
    background-image: url('../images/bg.png');
    margin:0;
    padding:0;
    background-size: cover;
  }

  .container{
    display:flex;
      align-items:center;
      justify-content:center;
      height:100vh;
      width:100%;
  }
    .form-box{
        width:400px;
        height:600px;
        background-color:black;
        padding:30px;
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        opacity:0.6;
        border-radius:2%;
    }
  .header-form{
    margin-bottom:60px;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  button{
    margin-top:40px;
    margin-bottom:10px;
  }
  .message{
    display:flex;
    justify-content:space-between;
    padding-left: 40px;
  }
  
  .SignupButton{
    padding-top: 25px;
    width: 300px;
    padding-left: 40px;
  }
  
section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
  }
  
  
  .selectColor {
    position: relative;
    padding: 10px;
    border: none;
    border-right: 10px solid #fff;
    outline: none;
    width: 180px;
    border-radius: 4px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  }
  
  .social{
    display:flex;
    justify-content:space-around;
    padding-top:10px;
    color: azure;
  }
  
  .social i{
    font-size:35px;
    
  }
  
  .social i:hover{
    color:azure;
    cursor:pointer;
  }

  .or{
    align-items: center;
    display: flex;
    padding-top: 15px;
    padding-left:60px;
    color: azure;
    font-size: 13px;
    margin-top: -15px;
  }