
:root{
    --bg:black;
    --bg-accent: grey;
    --text-color: white;
    --border: 1px solid grey;
    --nav-size: 60px;

}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar {
    height: var(--nav-size);
    background-color: var(--bg);
    padding: 0 1rem;
    border-bottom: var(--bg);

}

.navbar-nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;

}

.nav-item {
    width: calc(var(--nav-size) * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button {
    --button-size: calc(var(--nav-size) * 0.5);
    width: var(--button-size);
    height: var(--button-size);
    background-color: grey;
    border-radius: 50%;
    margin: 2px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
}

.icon-button:hover{
    filter: brightness(1.2);

}

.icon-button svg {
    fill: var(--text-color);
    width: 20px;
    height: 20px;
}